@import "../../assets/styles/vriables.scss";

.atm-app {
    @media screen and (max-width: 420px) {
        width: 100%;
        overflow-x: hidden;
        margin: 0 auto;
    }

.title h1 {
    font-family: 'Montserrat';
    text-align: center;
    background-image: linear-gradient(#fff,#fff,#fff,hsla(300,2%,89%,.6),#e3e2e3);
    margin: 0 auto;
}

.maps-wrapper {
    .form-wrapper {
        max-width: 900px;
        margin: 10px auto;
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        input {
            width: calc(100% - 20px);
            border-radius: 5px;
        }

        select {
            width: calc(100% - 10px);
            border-radius: 5px;
        }

        input,
        select {
            margin-bottom: 10px;
            border: 1px solid $brand-black;
            padding: 10px 5px;
        }

        form {
            text-align: center;
        }

        button {
            border-radius: 5px;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: 700;
            width: calc(100% - 10px);
            background-color: #4a8325;
            color: $brand-md-white;
            border-color: #4a8325;
            max-width: 100%;
            width: fit-content;
            padding: 10px 40px;
            margin: 0 auto;
        }

        .filter-results {
            display: block;
        }

        .checkboxes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;
            margin-bottom: 10px;
            grid-template-areas:
                ". .";

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 420px) {
                    justify-content: left !important;
                }

                label {
                    white-space: nowrap;
                }
            }
        }
    }

    .map {
        margin: 10px auto;
        max-width: 100%;
        width: 900px;
        height: 700px;

        // @media screen and (max-width: 420px) {
        //     max-width: 100%;
        //     width: 400px;
        //     height: 600px;
        //     overflow: hidden;
        // }
    }

    .results {
        ul {
            padding: 0 30px !important;
            font-family: 'Montserrat';

            li {
                list-style: none;
                width: 100%;
                padding: 20px 0 0;
                margin: 20px 0;
                border-top: 3px solid black;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .list-info {
                    display: flex;
                    align-items: center;

                    .list-pin {
                        svg {
                            width: 30px;
                            height: auto;
                            margin-right: 20px;
                            path {
                                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
                                    0 2px 2px rgba(0, 0, 0, 0.12),
                                    0 4px 4px rgba(0, 0, 0, 0.12),
                                    0 8px 8px rgba(0, 0, 0, 0.12),
                                    0 16px 16px rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
                }






            }
        }
    }
}
}