@import "../../assets/styles/vriables.scss";

.maps-wrapper {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    height: 100vh;
    grid-template-areas:
        ". .";

    .form {
        font-family: 'Montserrat';

        h1 {
            text-align: center;
        }

        overflow-y: scroll;


        ul {
            padding-inline-start: 0px !important;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 5px;
            grid-template-areas:
                ". .";
            // margin-left: 10px;

            li {
                border: 2px solid #dc7c00;
                list-style: none;
                padding: 10px 5px;
                border-radius: 5px;

                a {
                    font-size: 10px;
                }
            }
        }

        .results {
            padding: 0 2.5px;
        }
    }

    .map {
        .pin {
            max-width: 15px;
        }
    }
}


.form-wrapper {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    input {
        width: calc(100% - 20px);
        border-radius: 5px;
    }

    select {
        width: calc(100% - 10px);
        border-radius: 5px;
    }

    input,
    select {
        margin-bottom: 10px;
        border: 1px solid $brand-black;
        padding: 10px 5px;
    }

    button {
        padding: 10px 0;
        border-radius: 5px;
        font-family: 'Montserrat';
        text-transform: uppercase;
        font-weight: 700;
        width: calc(100% - 10px);
        background-color: #4a8325;
        color: $brand-md-white;
        border-color: #4a8325;
    }

    .checkboxes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        margin-bottom: 10px;
        grid-template-areas:
            ". .";

        div {
            display: flex;
            align-items: center;

            label {
                white-space: nowrap;
            }
        }
    }
}

// .form-wrapper {
//     display: grid;
//     place-items: center;
//     background: linear-gradient(-28deg, $brand-md-blue 0%, $brand-md-blue 50%, $brand-black 50%, $brand-black 100%);
//     ;

//     h1 {
//         font-size: $space-40;
//         text-align: center;
//         @include font-header-bold;
//         color: $brand-dk-grey;
//     }

//     .form {
//         position: relative;

//         min-width: 400px;

//         @include media($mq-mobile) {
//             min-width: 300px;
//             padding: $space-12;
//         }

//         max-width: 99%;
//         background: rgba(255, 255, 255, 0.6) !important;
//         mix-blend-mode: normal !important;
//         backdrop-filter: blur(15px) !important;
//         margin: $space-16;
//         padding: $space-24;
//         box-shadow: 0 50px 100px rgba(50, 50, 93, .1),
//         0 15px 35px rgba(50, 50, 93, .15),
//         0 5px 15px rgba(0, 0, 0, .1);
//     }

//     .inner {
//         h3 {
//             text-transform: uppercase;
//             @include font-header-bold;
//             color: $brand-dk-grey;
//         }


//         @include font-header-bold;
//         text-align: left;

//         @include media($mq-mobile) {
//             padding: $space-16;
//         }

//         text-align: center !important;
//         height: 100%;
//         display: grid;
//         place-items: center;

//         .label {
//             text-transform: uppercase;
//             color: $brand-dk-grey;
//             margin: $space-12 0 0 0;
//             width: 75%;
//             text-align: left !important;
//             width: 100%;
//             margin-bottom: $space-16;

//             input {
//                 margin-left: $space-12;
//             }
//         }

//         .checkbox-label {
//             input {
//                 margin-left: 5px;
//             }
//         }

//         .input {
//             &:first-of-type {
//                 margin-top: $space-12;
//             }

//             color: $brand-dk-grey;
//             width: 75%;
//             box-shadow: 0 20px 40px rgba(50, 50, 93, .1),
//             0 15px 35px rgba(50, 50, 93, .15),
//             0 5px 15px rgba(0, 0, 0, .1);
//             min-height: 30px;
//             margin-bottom: $space-12;
//             width: 100%;
//         }

//         .locationLabel {
//             text-align: left !important;
//         }

//         fieldset {
//             input {
//                 padding-left: $space-12;
//                 color: $brand-dk-grey;
//                 width: 75%;
//                 box-shadow: 0 20px 40px rgba(50, 50, 93, .1),
//                     0 15px 35px rgba(50, 50, 93, .15),
//                     0 5px 15px rgba(0, 0, 0, .1);
//                 min-height: 30px;
//                 margin-bottom: $space-12;
//                 width: 100%;

//                 &::placeholder {
//                     padding-left: $space-12;
//                     color: $brand-dk-grey;
//                     //  @include font-header-bold;
//                     text-transform: uppercase;
//                     opacity: 0.5;
//                 }
//             }
//         }

//         .input {
//             padding-left: $space-12;

//             &::placeholder {
//                 padding-left: $space-12;
//                 color: $brand-dk-grey;
//                 //  @include font-header-bold;
//                 text-transform: uppercase;
//                 opacity: 0.5;
//             }
//         }

//         .messageInput {
//             min-height: 100px;
//         }

//         .button {
//             @include font-header-bold;
//             text-transform: uppercase;
//             padding: $space-12 $space-48;
//             background: transparent;
//             color: $brand-dk-grey;
//             border: 2px solid $brand-dk-grey;
//             margin: $space-16 0 0;

//             &:hover {
//                 color: $brand-md-blue;
//                 border: 2px solid $brand-md-blue;
//                 background: $brand-md-white;
//             }
//         }
//     }
// }